@font-face {
  font-family: Chango;
  src: url("assets/fonts/chango-one.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Nulshock;
  src: url("assets/fonts/nulshock-bd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes overflow-- {
  0% {
    opacity: 0;
    transform: translate(0, 100%) skew(-10deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) skew(-10deg);
  }
}
@keyframes fade-- {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


:root {
  --body-bg: black;
  --font-color: white;
  --logo-fs: 10vw;
  --caption-fs: 1.5vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  background: var(--body-bg);
}

.content__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container {
  color: var(--font-color);
  text-align: center;
  letter-spacing: 1px;
}

.logo__wrapper {
  overflow: hidden;
  width: 105%;
}

.content__container h1 {
  display: inline-flex;
  font-size: var(--logo-fs);
  text-transform: uppercase;
  margin: 0 0 0.5vw 0;
  font-family: Chango;
  opacity: 0;
  transform: translate(0, 100%) skew(-10deg);
  animation: overflow-- 0.2s 0.5s ease forwards;
}

.content__container span {
  color: black;
  -webkit-text-stroke: 2.3px white;
}

.content__container h2 {
  margin: 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid;
  font-size: var(--caption-fs);
  font-family: Nulshock;
  animation: fade-- 0.5s ease-in-out forwards;
}

@media only screen and (max-width: 600px) {
  .content__container {
    height: 100cqh;
    min-height: 100%;
  }
  .content__container h1 {
    font-size: calc(var(--logo-fs) * 2.5);
  }
  
  .content__container h2 {
    font-size: calc(var(--caption-fs) * 2.5);
  }
}
